*.DS_Store
.RData
.Rhistory
*~*
*__pycache__*
*.Rproj*
*.nb.html
*.env*
*node_modules/
*.egg-info/
*.zip
.terraform/
terraform.tfstate
terraform.tfstate.*

data/ONSPD*
data/dispersal-sheet-2*
data/dispersal_sheets/
data/wip-sheet*

mm-db-manager/apps-script/.clasp.json
mm-db-manager/apps-script/.clasp.prod.json
mm-db-manager/apps-script/.clasp.test.json
mm-db-manager/apps-script/dist/code.gs
mm-db-manager/apps-script/dist/appsscript.json
mm-db-manager/cloud/.env

sheet-to-graph/credentials.json
sheet-to-graph/output.xlsx
sheet-to-graph/*lookup.json
sheet-to-graph/queries.txt

shiny/mappingmuseums/gsheets-service-account.json
shiny/mappingmuseums/keys.csv
shiny/mappingmuseums/users.rds
shiny/mappingmuseums/rsconnect
shiny/mappingmuseums/www/*types.png