*.DS_Store
.Rhistory
*~*
*__pycache__*
*.Rproj*
*.nb.html
*node_modules/

data/ONSPD*
data/dispersal-sheet-2*

mm-db-manager/.clasp.json
mm-db-manager/dist/code.gs
mm-db-manager/dist/appsscript.json

sheet-to-graph/credentials.json
sheet-to-graph/output.xlsx
sheet-to-graph/*lookup.json
sheet-to-graph/queries.txt

shiny/mappingmuseums/gsheets-service-account.json
shiny/mappingmuseums/keys.csv
shiny/mappingmuseums/users.rds
shiny/mappingmuseums/rsconnect
shiny/mappingmuseums/www/*types.png